.about-me-container{
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 35rem;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;

    fa-icon {
      color: black;
      font-size: 1.4rem;
      margin-top: 1rem;
    }

    h2 {
      font-weight: bold;

      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  hr {
    margin: 10px 0 15px;
    border: none;
    border-top: 3px solid black;
  }

  p {
    font-size: 15px;
    line-height: 1.6;

    em {
      font-style: italic;
      font-weight: bold;
    }
  }
}
