<div class="references-container">
  <div class="header">
    <fa-icon [icon]="faUsers"></fa-icon>
    <h2>REFERENCES</h2>
    <button (click)="openModal()">+</button>
  </div>
  <hr/>

  <div class="reference" *ngFor="let ref of references">
    <div class="name">{{ref.name}}</div>
    <div class="description">{{ref.description}}</div>
    <div class="contacts">Tel: {{ref.phoneNumber}}</div>
    <div class="contacts">Email: {{ref.email}}</div>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <form class="modal-labels" (submit)="handleSubmit($event)">
      <h2>Add reference</h2>

      <label>
        Name:
        <input type="text" name="name" placeholder="Enter name..." />
      </label>

      <label>
        Description:
        <input type="text" name ="description" placeholder="Enter description..." />
      </label>

      <label>
        Phone:
        <input type="text" name="phone" placeholder="Enter phone number..." />
      </label>

      <label>
        Email:
        <input type="text" name="email" placeholder="Enter email..." />
      </label>

      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
