<div class="references-container">
  <div class="header">
    <fa-icon [icon]="faUsers"></fa-icon>
    <h2>REFERENCES</h2>
  </div>
  <hr/>

  <div class="reference" *ngFor="let ref of references">
    <div class="name">{{ref.name}}</div>
    <div class="description">{{ref.description}}</div>
    <div class="contacts">Tel: {{ref.phoneNumber}}</div>
    <div class="contacts">Email: {{ref.email}}</div>
  </div>

<!--  <div class="reference">-->
<!--    <div class="name">ROBERT J. BELVIN</div>-->
<!--    <div class="description">2119 Fairfax Drive Newark, NJ.</div>-->
<!--    <div class="contacts">Tel: +1-908-987-5103</div>-->
<!--    <div class="contacts">Email: www.yourwebsite.com</div>-->
<!--  </div>-->
</div>
