<div class="job-experience-container">
  <div class="header">
    <fa-icon [icon]="faBusinessTime"></fa-icon>
    <h2>JOB EXPERIENCE</h2>
  </div>
  <hr/>

  <div class="job-experience-entry">
    <div class="job-left">
      <div class="job">Creative Agency</div>
      <div class="city">Chicago</div>
      <div class="years">2020-Present</div>
    </div>

    <div class="job-right">
      <div class="title">SENIOR WEB DESIGNER</div>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>
  </div>

  <div class="job-experience-entry">
    <div class="job-left">
      <div class="job">Creative Market</div>
      <div class="city">United Kingdom</div>
      <div class="years">2015-2020</div>
    </div>

    <div class="job-right">
      <div class="title">SENIOR WEB DESIGNER</div>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>
  </div>

  <div class="job-experience-entry">
    <div class="job-left">
      <div class="job">Creative Agency</div>
      <div class="city">Chicago</div>
      <div class="years">2020-Present</div>
    </div>

    <div class="job-right">
      <div class="title">SENIOR WEB DESIGNER</div>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>
  </div>
</div>
