<div class="job-experience-container">
  <div class="header">
    <fa-icon [icon]="faBusinessTime"></fa-icon>
    <h2>JOB EXPERIENCE</h2>
    <button (click)="openModal()">+</button>
  </div>
  <hr/>

  <div class="job-experience-entry" *ngFor="let job of jobs">
    <div class="job-left">
      <div class="job">{{job.job}}</div>
      <div class="city">{{job.city}}</div>
      <div class="years">{{job.years}}</div>
    </div>

    <div class="job-right">
      <div class="title">{{job.title}}</div>
      <div class="description">{{job.description}}</div>
    </div>
  </div>
</div>


<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <form class="modal-labels" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <h2>Add job experience</h2>

      <label>
        Job*:
        <input type="text" formControlName="job" placeholder="Enter job name..." />
        <div class="error" *ngIf="form.get('job')?.touched && form.get('job')?.invalid">
          Job is required
        </div>
      </label>

      <label>
        City*:
        <input type="text" formControlName ="city" placeholder="Enter city..." />
        <div class="error" *ngIf="form.get('city')?.touched && form.get('city')?.invalid">
          City is required
        </div>
      </label>

      <label>
        Years*:
        <input type="text" formControlName="years" placeholder="Enter years..." />
        <div class="error" *ngIf="form.get('years')?.touched && form.get('years')?.invalid">
          Years is required
        </div>
      </label>

      <label>
        Position*:
        <input type="text" formControlName="position" placeholder="Enter position..." />
        <div class="error" *ngIf="form.get('position')?.touched && form.get('position')?.invalid">
          Position is required
        </div>
      </label>

      <label>
        Description:
        <input type="text" formControlName="description" placeholder="Enter description..." />
      </label>

      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
