<div class="job-experience-container">
  <div class="header">
    <fa-icon [icon]="faBusinessTime"></fa-icon>
    <h2>JOB EXPERIENCE</h2>
    <button (click)="openModal()">+</button>
  </div>
  <hr/>

  <div class="job-experience-entry" *ngFor="let job of jobs">
    <div class="job-left">
      <div class="job">{{job.job}}</div>
      <div class="city">{{job.city}}</div>
      <div class="years">{{job.years}}</div>
    </div>

    <div class="job-right">
      <div class="title">{{job.title}}</div>
      <div class="description">{{job.description}}</div>
    </div>
  </div>
</div>


<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <form class="modal-labels" (submit)="handleSubmit($event)">
      <h2>Add job experience</h2>

      <label>
        Job:
        <input type="text" name="job" placeholder="Enter job name..." />
      </label>

      <label>
        City:
        <input type="text" name ="city" placeholder="Enter city..." />
      </label>

      <label>
        Years:
        <input type="text" name="years" placeholder="Enter years..." />
      </label>

      <label>
        Position:
        <input type="text" name="position" placeholder="Enter position..." />
      </label>

      <label>
        Description:
        <input type="text" name="description" placeholder="Enter description..." />
      </label>

      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
