<div class="education-container">
  <div class="header">
    <fa-icon [icon]="faGraduationCap"></fa-icon>
    <h2>EDUCATION</h2>
    <button (click)="openModal()">+</button>
  </div>
  <hr />

  <div class="edu-entry" *ngFor="let edu of educations">
    <div class="edu-left">
      <div class="school">{{edu.school}}</div>
      <div class="years">{{edu.years}}</div>
    </div>

    <div class="edu-right">
      <div class="title">{{edu.title}}</div>
      <div class="desc">{{edu.description}}</div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>

    <form class="modal-labels" (submit)="handleSubmit($event)">
      <h2>Add your university</h2>

      <label>
        University:
        <input type="text" name="university" placeholder="Enter your university..." />
      </label>

      <label>
        Years:
        <input type="text" name ="years" placeholder="Enter amount of years..." />
      </label>

      <label>
        Title:
        <input type="text" name="title" placeholder="Enter title..." />
      </label>

      <label>
        Description:
        <input type="text" name="description" placeholder="Enter description..." />
      </label>

      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
